body {
    width: 1600px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.none {
    display: none;
}

.inter-Inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    height: 92px;
}

.firsth2 {
    color: #FFFFFF;
    height: 50px;
    width: 219px;
    font-size: 45px;
    font-weight: bold;
}

.h1color {
    background: linear-gradient(40deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu {
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    list-style-type: none;
    gap: 24px;
}

.btn1 {
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    background: linear-gradient( 40deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    padding: 12px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

}

.btn1:hover {
        background-color: #555;
}

#audio {
    /* background: url(../assets/hero-bg.png); */
    height: 760px;
    border-top: 1px solid #58219f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bimg {
    height: 100%;
    width: 100%;
}

.audiodiv {
    height: 600px;
    width: 550px;
    /* background-color: #F7E93F; */
    /* background-repeat: no-repeat; */
    display: grid;
    justify-content:center;
    align-items: center;
    text-align: center;
    position: absolute;
   
    
}

.fimg {
   padding-bottom: 40px;

} 

.fimginside {
    position: absolute;
    margin-top: -270px;
    margin-left: 210px;
}

.btninside {
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 1000px;
    position: absolute;
    margin-top: -330px;
    margin-left: 90px;
    border: none;

}

.p1 {
    font-size: 60px;
    font-weight: bolder;
    color: #FFFFFF;
}

.p2  {
    font-size: 16px;
    color: #ffffff9d;
    padding-top: 8px;
    padding-bottom: 24px;
}

.btnicon {
    background-color: transparent;
}

.btn2  {
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    background-color: transparent;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid  #00FF88; 
    padding: 12px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.tbtns {
    display: inline-flex;
    justify-content: center;
    gap: 8px;
}

#about {
    padding: 50px 200px 120px 200px;
    background-color: #1A0B2E;
}

.para {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.p3 {
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
}

.p4 {
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 80px;
    color: #ffffff61;
}

.linebreak {
    display: block;
}

.linebreak2 {
    display: block;
    margin-top: 2em;
}

.numbers {
    padding-top: 80px;
    border-top: 1px solid #58219f;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;

}
.f2divs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.s2divs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.nump1 {
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
}

.nump2 {
    font-size: 16px;
    color: #ffffffc3;
}

.numdivs {
    width: 240px;
    display: grid;
    gap: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#choose {
    height: 1121px;
    padding: 105px 200px 120px 200px;
    background-color: #230E3D;
    display: grid;
    /* justify-items: start; */
    align-items: center;
    text-align: center;
    

}

.firstp {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 30px;
}

#choose1 {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 225px);
    
}

.chos {
    background-color: #351165;
    border-radius: 40px;
    padding: 40px;
    /* display:grid;  */
    /* align-items: center; */
    text-align: left;
}

#grid1 {
    grid-row: span 2;
    padding-top: 120px;

}

#grid2 {
    grid-column: span 2;
    /* padding-bottom: 40px; */
    
}

.choosep1 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 16px;
    padding-bottom: 16px;
}

.choosep2 {
    font-size: 16px;
    color: #ffffff61;
}

.last {
    height: 260px;
}

#features {
    height: 1276px;
    padding: 120px 200px;
    background-color: #1A0B2E;
}

.featurep1 {
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.boxes{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.thumb {
    /* border: 1px solid  red; */
    /* padding: 45px 24px 24px 24px; */
    max-width: 380px;
    height: 440px;
    box-shadow: 0 4px 4px 0 000000;
    /* text-align: center; */
    background-color: #250D44;
    border-radius: 25px;
    overflow: hidden;
}



.boxespara {
    padding: 24px;
}

.boxesp1 {
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}

.boxesp2 {
    font-size: 16px;
    color: #ffffff8b;
    line-height: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.boxesp3 {
    color: #00FF88;
    display: inline-flex;
    justify-content: center;
    gap: 6px;
}

.featurep2 {
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 40px;
}

.host {
    display: flex;
    background-color: #250D44;
    padding: 40px;
    border-radius: 40px;
    gap: 24px;
}

.hostp1 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    padding-top: 5px;
}

.hostp2 {
    font-size: 16px;
    color: #ffffff8b;
    line-height: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.icons {
    display: flex;
    gap: 8px;
}

.radiusicon {
    border: 1px solid #7e46d186;
    border-radius: 50%;
    padding: 9px;
}

#footer {
    height: 412px;
    /* background: url(../assets/footer-bg.png); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footericons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 32px;
    gap: 40px;
    font-size: 16px;
    color: #ffffff8b;
    position: absolute;
    margin-top: 40px;
}

.f2tbtns {
    display: flex;
    gap: 40px;
}

.s2tbtns {
    display: flex;
    gap: 40px;
}

.footerp1 {
    font-size: 16px;
    color: #ffffff61;
    position: absolute;
    margin-top: 150px;
}

.footerh2 {
    color: #FFFFFF;
    height: 65px;
    width: 360px;
    font-size: 75px;
    font-weight: bold;
    position: absolute;
    margin-top: -145px;
    
}

@media  screen and (max-width:576px) {
    body {
    width: 400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.none {
    display: block;
    margin-left: auto;
    height: 1vw;
    padding-top: 1vw;
}

.menu {
    display: none;
}

.btn1 {
   display: none;
}

.container {
    height: 60px;
    padding: 0 20px 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firsth2 {
    color: #FFFFFF;
    height: 4vw;
    width: 1vw;
    font-size: 5.5vw;
    font-weight: bold;
}

#audio {
    /* background: url(../assets/hero-bg.png); */
    /* width: 100%; */
    height: 466px;
    border-top: 1px solid #58219f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bimg img {
   height: 466px;
   width: 100%;
} 

.audiodiv {
    height: 386px;
    width: 400px;
    background-repeat: no-repeat;
    display: grid;
    justify-content:center;
    align-items: center;
    text-align: center;
   
    
}

.fimg img {
 width: 50% ;
 height: 50%;

} 

.fimginside {
    position: absolute;
    margin-top: -150px;
    margin-left: 140px;
}

.btninside {
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 12px;
    border-radius: 1000px;
    position: absolute;
    margin-top: -190px;
    margin-left: 50px;
    border: none;

}

.p1 {
    font-size: 50px;
    font-weight: bolder;
    color: #FFFFFF;
}

.p2  {
    font-size: 12px;
    color: #ffffff9d;
    padding-top: 8px;
    padding-bottom: 24px;
}

.btnicon {
    background-color: transparent;
}

.newbtn  {
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    background: linear-gradient( 40deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    padding: 12px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.btn2  {
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    background-color: transparent;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid  #00FF88; 
    padding: 12px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.tbtns {
    display: inline-flex;
    justify-content: center;
    gap: 8px;
}

#about {
    padding: 40px 20px 40px 20px;
    background-color: #1A0B2E;
}

.para {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.p3 {
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
}

.p4 {
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 80px;
    color: #ffffffac;
}
.linebreak {
    display: none;
}

.numbers {
    padding-top: 80px;
    border-top: 1px solid #58219f;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;

}

.nump1 {
    color: #00FF88;
    font-size: 40px;
    font-weight: 900;
}


.numdivs {
    width: 180px;
    display: grid;
    gap: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.f2divs {
    gap: 30px;
}

.s2divs {
    gap: 30px;
}

#choose {
    height: 1450px;
    padding: 40px 20px;
    background-color: #230E3D;
    display: grid;
    /* justify-items: start; */
    align-items: center;
    text-align: center;
    

}

.firstp {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 30px;
}

#choose1 {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, minmax(280px, 1fr));
    /* grid-template-rows: repeat(1, 125px); */
    
}

.chos {
    background-color: #351165;
    border-radius: 40px;
    padding: 24px;
    /* display:grid;  */
    /* align-items: center; */
    text-align: left;
}

#grid1 {
    grid-column: span 1;
    grid-row: span 1;
    padding-top: 24px;
    /* height: 287px; */

}

#grid2 {
    grid-column: span 1;
    grid-row: span 1;
    /* padding-bottom: 40px; */
    
}

.choosep1 {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 16px;
    padding-bottom: 16px;
}

.choosep2 {
    font-size: 16px;
    color: #ffffff61;
}

.last {
    height: auto;
}









#features {
    height: 2295px;
    padding: 40px 20px;
    background-color: #1A0B2E;
}

.featurep1 {
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.boxes{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.thumb {
    /* border: 1px solid  red; */
    /* padding: 45px 24px 24px 24px; */
    max-width: 360px;
    height: 440px;
    box-shadow: 0 4px 4px 0 000000;
    /* text-align: center; */
    background-color: #250D44;
    border-radius: 25px;
    overflow: hidden;
}



.boxespara {
    padding: 24px;
}

.boxesp1 {
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}

.boxesp2 {
    font-size: 16px;
    color: #ffffff8b;
    line-height: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.boxesp3 {
    color: #00FF88;
    display: inline-flex;
    justify-content: center;
    gap: 6px;
}

.featurep2 {
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

.host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #250D44;
    padding: 40px;
    border-radius: 40px;
    gap: 24px;
}

.hostp1 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    padding-top: 5px;
}

.hostp2 {
    font-size: 16px;
    color: #ffffff8b;
    line-height: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.icons {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}










#footer {
    height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerbg img {
   height: 248px;
   width: 100%;
} 
.footericons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 15px; */
    /* padding-bottom: 22px; */
    padding: 0;
    gap: 8px;
    font-size: 12px;
    color: #ffffff8b;
    height: 64px;
    width: 255px;

}

.f2tbtns {
    display: flex;
    gap: 10px;
}

.s2tbtns {
    display: flex;
    gap: 10px;
}

.footerp1 {
    font-size: 12px;
    color: #ffffff61;
    position: absolute;
}

.footerh2 {
    color: #FFFFFF;
    height: 5px;
    width: 360px;
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    text-align: center;
}


}