body {
    width: 1600px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-Inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    height: 92px;
}

.firsth2 {
    color: #FFFFFF;
    height: 50px;
    width: 219px;
    font-size: 45px;
    font-weight: bold;
    /* align-items: center;
    text-align: center;
    justify-content: center; */
}

.h1color {
    background: linear-gradient(40deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu {
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    list-style-type: none;
    gap: 24px;
}

.btn1 {
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    background: linear-gradient( 40deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    padding: 12px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

}

.btn1:hover {
        background-color: #555;
}

#audio {
    background: url(../assets/hero-bg.png);
    height: 760px;
    border-top: 1px solid #58219f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audiodiv {
    height: 600px;
    width: 550px;
    /* background-color: #F7E93F; */
    /* background-repeat: no-repeat; */
    display: grid;
    justify-content:center;
    align-items: center;
    text-align: center;
   
    
}

.fimg {
   padding-bottom: 40px;

} 

.fimginside {
    position: absolute;
    margin-top: -270px;
    margin-left: 210px;
}

.btninside {
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 1000px;
    position: absolute;
    margin-top: -330px;
    margin-left: 90px;
    border: none;

}

.p1 {
    font-size: 60px;
    font-weight: bolder;
    color: #FFFFFF;
}

.p2  {
    font-size: 16px;
    color: #ffffff9d;
    padding-top: 8px;
    padding-bottom: 24px;
}

.btnicon {
    background-color: transparent;
}

.btn2  {
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    background-color: transparent;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid  #00FF88; 
    padding: 12px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.tbtns {
    display: inline-flex;
    justify-content: center;
    gap: 8px;
}

#about {
    padding: 50px 200px 120px 200px;
    background-color: #1A0B2E;
}

.para {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.p3 {
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
}

.p4 {
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 80px;
    color: #ffffff61;
}

.numbers {
    padding-top: 80px;
    border-top: 1px solid #58219f;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;

}

.nump1 {
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
}

.nump2 {
    font-size: 16px;
    color: #ffffffc3;
}

.numdivs {
    width: 240px;
    display: grid;
    gap: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
}